@{
  int previous  = 0;
  int next = 1;
  int this_page = 0;
 

    
    if(@ViewBag.Categories.currect_number < 0)
      {
        this_page = 0;
      }
    else
      {
        this_page = @ViewBag.Categories.currect_number;
      }
      
    if(this_page > 0) 
      {
        previous = this_page - 1;
      }
    else
      {
        this_page = 0;
      }
    
    next = this_page  +1 ;
}




@await Component.InvokeAsync("Menu" , new {})
<h1>@ViewBag.Translate_words[9] </h1>

<form method="post" asp-controller="Admin" asp-action="AddCategory_View"  class="form_line">
        
        <button type="submit"  class="btn btn-primary">@ViewBag.Translate_words[34]</button>
</form>

<hr>


<div class ="row" >
@foreach( var a in @ViewBag.Categories.list) 
{
  string id_this = "a"+@a[0];
  <div class="modal fade" id="@id_this" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Вы точно хотите удалить  @a[1] ?</h5>

        </div>
        
        <div class="modal-footer">

          <form method="post" asp-controller="Admin" asp-action="DelCategory"  class="form_line">
                  <input type="hidden"  name="id_category" value="@a[0]"/>
                  <input type="hidden" name="numb_page" value="@this_page"/>
                  <button type="submit"  class="btn btn-primary">Confirm</button>
          </form>    
         
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>





   
    <div class="_Cart">
        <div class="card" style="width: 18rem;">
        @{
            string pic = @a[3] ;
            <!-- <img src="~/Pictures/@pic" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h3 class="card-title">@a[1]</h3>
                
                <br>
                <div class="btn-group btn_p_cart">
                    <a   asp-controller="Admin" asp-action="EditCategory"  asp-route-id_category="@a[0]" class="btn btn-sm-2 btn-dark ">Редактировать</a>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                     
                      
                      <!-- <div class="dropdown-divider"></div> -->
                     
                      <button type="button" class="dropdown-item btn" data-toggle="modal" data-target="#@id_this" >@ViewBag.Translate_words[27]</button>
                    </div>
                  </div>     
            </div>
        }
        </div>
    </div>
  
}
</div>



@if(@ViewBag.Categories.count_pages > 1 )
{
<nav aria-label="...">
  <ul class="pagination">
    @if(this_page > 0)
    {
    <li class="page-item">
      <a class="page-link" asp-controller="Admin"  asp-action="CategoryModeration" asp-route-numb_page = "@previous"  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    }

    
    


    @if(this_page < 12)
    {
      @for(int i = 0;i < 19; i++ )
      {
        int nn_page = i;
         @if(nn_page == this_page)
        {
          <li class="page-item active">
            <a class="page-link" asp-controller="Admin"  asp-action="CategoryModeration" asp-route-numb_page = "@this_page">@(this_page + 1) <span class="sr-only">(current)</span></a>
          </li>

        }
        else{
          if((i < @ViewBag.Categories.count_pages)&&(i >= 0))
          {
            <a class="page-link" asp-controller="Admin"  asp-action="CategoryModeration" asp-route-numb_page = "@nn_page" >@(nn_page + 1)</a>
          }
        }
      }
      
    }
    else
    {
      @for( int i =  Convert.ToInt32(this_page) - 9 ;
        i < Convert.ToInt32(this_page) + 10; i++)
      {
        
        int nn_page = i;
        
        @if(nn_page == this_page)
        {
          <li class="page-item active">
            <a class="page-link" asp-controller="Admin"  asp-action="CategoryModeration" asp-route-numb_page = "this_page">@(this_page + 1) <span class="sr-only">(current)</span></a>
          </li>

        }
        else{
          if((i < @ViewBag.Categories.count_pages)&&(i >= 0))
          {
            <a class="page-link" asp-controller="Admin"  asp-action="CategoryModeration" asp-route-numb_page = "@nn_page" >@(nn_page + 1)</a>
          }
        }
      }


    }

    @if(next < @ViewBag.Categories.count_pages)
    {
    <li class="page-item">
      <a class="page-link" asp-controller="Admin"  asp-action="CategoryModeration" asp-route-numb_page = "@next" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    }

  </ul>
</nav>
}