@await Component.InvokeAsync("Menu" , new {})
<h1>Редактирование роли</h1>

@if(@ViewBag.Ex == 1)
{
    <h1>Данная роль уже существует</h1>
}

<form method="post" asp-controller="Admin" asp-action="EditRole_Save"  class="form_line">
    <div class="card" style="width: 18rem;">
  
    
    <div class="card-body">

    <input hidden name="id_role_users" value="@ViewBag.Role[0][0]">
    
    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Имя</div>
        </div>
        <input type="text" class="form-control" name="name" placeholder="RoleName" value="@ViewBag.Role[0][1]">
    </div>

     @foreach (var item in @ViewBag.Abilities)
        {
            bool is_use = false;
            foreach( var use_ab in @ViewBag.Id_use_ab) 
            {
                if(use_ab[0] == item[0])
                {
                 <input type="checkbox" name="check" value="@item[0]" checked > @item[1] <br>
                    is_use = true;
                    break;
                }
            }
            if(is_use == false)
            {
                <input type="checkbox" name="check" value="@item[0]"> @item[1] <br>
            }
            
        }
     
    <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" name="description" rows="3">@ViewBag.Role[0][2]</textarea>
    </div>
    
    
    
   
    
      </div>
  <button type="submit"  class="btn btn-sm-2 btn-dark ">Обновить</button>
    </div>
</form>


