@await Component.InvokeAsync("Menu" , new {})
<h1>Profile</h1>


<div class="media">
  <img class="mr-3" src="~/Pictures/NaPicture2.png" alt="Generic placeholder image" width="128" height="128">
  <div class="media-body">
    
    <h5>@ViewBag.Translate_words[28]: @ViewBag.User_data.login</h5>

    <h5>@ViewBag.Translate_words[22]: @ViewBag.User_data.first_name @ViewBag.User_data.second_name</h5>
    <h5>@ViewBag.Translate_words[52]: @ViewBag.User_data.score</h5>
    <h5>@ViewBag.Translate_words[53]: @ViewBag.User_data.bonus_score</h5>
    
   
  </div>
  
  <div>
    <h3>@ViewBag.Translate_words[54]:  @ViewBag.User_data.lvl</h3>

    <form method="post" asp-controller="User" asp-action="UpdateInfo_page"  class="form_line">
        <button type="submit"  class="btn btn-primary">@ViewBag.Translate_words[55]</button>
    </form>
  </div>

</div>


<div class="row">
@if(@ViewBag.User_data.is_dev == false)
{
    
    <div class="_Cart">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Pictures/NaPicture2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Create DevTeam</h5>
                
                <a  method ="get" asp-controller="Dev" asp-action="AddDev" class="btn btn-primary"><h3>@ViewBag.Translate_words[56]</h3></a>
            </div>
        </div>
    </div>
}
else
{
   <div class="_Cart">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Pictures/NaPicture2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @ViewBag.User_data.company</h5>
                <a  method ="get" asp-controller="Dev" asp-action="Index" class="btn btn-primary"><h4>@ViewBag.Translate_words[7]</h4></a>
            </div>
        </div>
   </div>
}

    <div class="_Cart">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Pictures/NaPicture2.png" alt="Card image cap">
            <div class="card-body">
               
                <h5 class="card-title">  @ViewBag.Translate_words[57]  </h5>
                
            
                <a  method ="get" asp-controller="User" asp-action="Library" class="btn btn-primary"><h4>@ViewBag.Translate_words[58] </h4></a>
                <a  method ="get" asp-controller="User" asp-action="Baggage" class="btn btn-primary"><h4>@ViewBag.Translate_words[59] </h4></a>
            </div>
        </div>
    </div>

    <div class="_Cart">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Pictures/NaPicture2.png" alt="Card image cap">
            <div class="card-body">
               
                <h5 class="card-title">  @ViewBag.Translate_words[61] </h5>
                
            
                <a  method ="get" asp-controller="User" asp-action="ShowUsers" class="btn btn-primary"><h4>@ViewBag.Translate_words[60] </h4></a>
               
            </div>
        </div>
    </div>
</div>





