@await Component.InvokeAsync("Menu" , new {})
<h1>Ваш профайл</h1>


<div class="media">
  <img class="mr-3" src="~/Pictures/@ViewBag.User_data.picture_profile" alt="Generic placeholder image" width="128px" height="128px">
  <div class="media-body">
    
    <h5>@ViewBag.Translate_words[28]: @ViewBag.User_data.login</h5>

    <h5>@ViewBag.Translate_words[22]: @ViewBag.User_data.first_name @ViewBag.User_data.second_name</h5>
    <h5>@ViewBag.Translate_words[52]: @ViewBag.User_data.score</h5>

    
   
  </div>
  
  <div>
    <h3>@ViewBag.Translate_words[54]:  @ViewBag.User_data.lvl</h3>

    <form method="post" asp-controller="User" asp-action="UpdateInfo_page"  class="form_line">
        <button type="submit"  class="btn btn-sm-2 btn-dark">@ViewBag.Translate_words[55]</button>
    </form>
  </div>

</div>


<div class="row">
@if(@ViewBag.User_data.is_dev == false)
{
    
    <div class="_Cart">
        <div class="card" style="width: 18rem; height:16rem;">
        
            <div class="card-body">
                <h5 class="card-title"> Управление компанией </h5>
                
                <a  method ="get" asp-controller="Dev" asp-action="AddDev" class="btn btn-sm-2 btn-dark"><h4>@ViewBag.Translate_words[56]</h4></a>
            </div>
        </div>
    </div>
}
else
{
   <div class="_Cart">
        <div class="card" style="width: 17rem; height:16rem;">
        
            <div class="card-body">
                <h5 class="card-title"> Управление компанией</h5>
                <a  method ="get" asp-controller="Dev" asp-action="Index" class="btn btn-sm-2 btn-dark"><h4>@ViewBag.Translate_words[7]</h4></a>
            </div>
        </div>
   </div>
}

    <div class="_Cart">
        <div class="card" style="width: 16rem;  height:16rem;">
        
            <div class="card-body">
               
                <h5 class="card-title">  @ViewBag.Translate_words[57]  </h5>
                
                <div class="inline">
                    <ul class="navbar-nav flex-grow-1"> 
                        <li class="nav-item">
                            <a  method ="get" asp-controller="User" asp-action="Library" class="btn btn-sm-2 btn-dark"><h4>@ViewBag.Translate_words[58] </h4></a>
                        </li>
                        <br>
                        <li>
                       
                            <a  method ="get" asp-controller="User" asp-action="Baggage" class="btn btn-sm-5 btn-dark"><h4>@ViewBag.Translate_words[59] </h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

 
    <div class="_Cart">
        <div class="card" style="width: 16rem; height:16rem">
       
            <div class="card-body">
               
                <h5 class="card-title">  Подписки </h5>
                
            
                <a  method ="get" asp-controller="User" asp-action="YourSubscriptions" class="btn btn-sm-2 btn-dark"><h4>Ваши подписки </h4></a>
               
            </div>
        </div>
    </div>

</div>





