@await Component.InvokeAsync("Menu" , new {})


@{
    ViewData["Title"] = "ShowProduct" + @Model  ;
}

<h1 > @ViewBag.Product.name</h1>

<div class= "row">
 <img src="~/Pictures/@ViewBag.Product.def_picture" class="card-img-top  im_product" style="height:400px; width : 400px;" alt="...">
 <div class= "product">
     <h4 >@ViewBag.Translate_words[23]:</h4> 
     <p>@ViewBag.Product.description</p>
     <h4>@ViewBag.Translate_words[40] @ViewBag.Product.category_name </h4>
    @if(@ViewBag.Discount_price =="")
    {
    <h4> @ViewBag.Translate_words[35]: @ViewBag.Product.price </h4>
    }
    else
    {
        <h4> @ViewBag.Translate_words[35]:<strike> @ViewBag.Product.price </strike> @ViewBag.Discount_price </h4>
    }
    <div >
        <ul class ="navbar-nav flex-grow-1">
            <li class= "nav-item">
            <a class="btn btn-sm-2 btn-dark product_btn" asp-controller="Home"  asp-action="DevShow" asp-route-id_dev = "@ViewBag.Product.id_dev">@ViewBag.Product.developer</a>
            </li>
            @if(@ViewBag.Product.liked)
            {
                <li class= "nav-item">
                <form  asp-controller="Product" asp-action="RemoveLike" >
                        <input type="hidden" name ="_id_product" value="@ViewBag.Product.id_product"  />   
                        <button class="btn btn-sm-2 btn-dark product_btn" type="submit">@ViewBag.Translate_words[39]</button>                          
                </form>
                </li>
            }
            else 
            {
                <li class= "nav-item">
                <form  asp-controller="Product" asp-action="AddLike" >
                        <input type="hidden" name ="_id_product" value="@ViewBag.Product.id_product"  />   
                        <button class="btn btn-sm-2 btn-dark product_btn" type="submit">@ViewBag.Translate_words[38]</button>                          
                </form>
                </li>
            }
            <li class= "nav-item">
            <form  method="post"  asp-controller="Product" asp-action="AddProduct"  class="form-inline form_search">
                                        
                <input type="hidden" name ="_id_product" value="@ViewBag.Product.id_product"  />              
                <button class="btn btn-sm-2 btn-dark product_btn" type="submit">@ViewBag.Translate_words[36]</button>
                                        
            </form>
            </li>

        </ul>
    </div>

 </div>

</div>



<hr>
    

DLCs:
<hr>
            <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">@ViewBag.Translate_words[19]</th>
                <th scope="col">@ViewBag.Translate_words[22]</th>
                <th scope="col">@ViewBag.Translate_words[35]</th>
                
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
             @foreach (List<string> this_dlc in @ViewBag.Product.dlc)
             {
                <tr>
                <td><img src="~/Pictures/@this_dlc[3]" class="card-img-top " style="height:100px; width : 100px;" alt="...">
                 </td>
                <td>@this_dlc[1]</td>
                @if(@this_dlc[4] != "")
                {
                    <td><strike> @this_dlc[2] </strike> @this_dlc[4]</td>
                }
                else
                {
                    <td> @this_dlc[2]</td>
                }
               
                <td>
                    <form method="post" asp-controller="Product" asp-action="AddDLC" class="form-inline form_search">
                        <input type ="hidden" name="_id_product" value="@ViewBag.Product.id_product">
                        <input type ="hidden" name="_id_dlc" value="@this_dlc[0]">
                        <button class="btn btn-sm-2 btn-dark" type="submit">@ViewBag.Translate_words[36]</button>
                    </form>
                </td>
                </tr>
            
            }


            </table>
<hr>
@ViewBag.Translate_words[42]:
<hr>
      <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">id</th>
                <th scope="col">@ViewBag.Translate_words[22]</th>
                <th scope="col">@ViewBag.Translate_words[23]</th>
                <th scope="col">@ViewBag.Translate_words[43]</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
             @foreach (List<string> this_event in @ViewBag.Product.product_events)
             {
                <tr>
                <th scope="row">@this_event[0]</th>
                <td>@this_event[1]</td>
                <td>@this_event[2]</td>
                <td>@this_event[3]</td>
                <td>
                    <form method="post" asp-controller="Product" asp-action="ShowEvent" class="form-inline form_search">
                        <input type ="hidden" name="_id_product" value="@this_event[0]">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">@ViewBag.Translate_words[44]</button>
                    </form>
                </td>
                </tr>
                
            
            }


            </table>
<hr>            



                            


<form  asp-controller="Product" asp-action="AddComment" >
    <div  >
             <div  class="assessment">
            <input type="radio" id="Incompetent" name="_assessment" value="1" >
            <label for="Incompetent">@ViewBag.Translate_words[46]</label>
             </div>
             <div  class="assessment">
            <input type="radio" id="Bad" name="_assessment" value="2">
            <label for="Bad">@ViewBag.Translate_words[47]</label>
            </div>
             <div  class="assessment">
            <input type="radio" id="NotBad" name="_assessment" value="3">
            <label for="NotBad">@ViewBag.Translate_words[48]</label>
            </div>
         <div  class="assessment">
            <input type="radio" id="Good" name="_assessment" value="4">
            <label for="Good">@ViewBag.Translate_words[49]</label>
            </div>
         <div  class="assessment">
            <input type="radio" id="Cool" name="_assessment" value="5" checked>
            <label for="Cool">@ViewBag.Translate_words[50]</label>
            </div>
    </div>      
    
        <input type="hidden" name ="_id_product" value="@ViewBag.Product.id_product"  />  
        <div class="form-group">
            <label for="_comment">@ViewBag.Translate_words[51]:</label>
            <textarea class="form-control" name="_comment" rows="3"></textarea>
        </div>            
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">@ViewBag.Translate_words[37]</button>
                                  
</form>




<hr>
 @ViewBag.Translate_words[62]
<hr>

<table class="table">
    <thead class="thead-light">
        <tr>
            <td>@ViewBag.Translate_words[24]</td>
            <td>@ViewBag.Translate_words[25]</td>
            <td>@ViewBag.Translate_words[16]</td>
            <td>@ViewBag.Translate_words[45]</td>
         </tr>
    </thead>
    <tbody>

        @foreach (var review in @ViewBag.Product.product_reviews)
        {
            
                <tr>
                    @foreach (string item3 in review)
                    {
                        <td>@item3</td>
                    }
                </tr>
            
        }
    </tbody>
</table>