@await Component.InvokeAsync("Menu" , new {})




<div class="media">
  <img class="mr-3" src="~/Pictures/@ViewBag.DesDev[0][3]" alt="Generic placeholder image" style="width: 18rem; height:24rem;">
  <div class="media-body">
    
    <h1> @ViewBag.DesDev[0][1]</h1>

    <h5>@ViewBag.Translate_words[72]: -InF</h5>
    <h5>@ViewBag.Translate_words[75]: @ViewBag.DesDev[0][2]</h5>
    
   
  </div>
  
  <div>
    <ul class="navbar-nav flex-grow-1"> 
      <li class="nav-item">
        <form method="post" asp-controller="Dev" asp-action="UpdateInfo_page"  class="form_line">
            <input hidden name="id_dev" value="@ViewBag.DesDev[0][0]">
            <button type="submit"  class="btn btn-sm-2 btn-dark">@ViewBag.Translate_words[69] </button>
        </form>
      </li>
      <br>
      <li class="nav-item">
        <form method="post" asp-controller="Dev" asp-action="YourProducts"  class="form_line">
            <button type="submit"  class="btn btn-sm-2 btn-dark">@ViewBag.Translate_words[70] </button>
        </form>
      </li>
      <br>
    
      @{
        string id_this = "delComp";
        <div class="modal fade" id="@id_this" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вы точно хотите удалить свою компанию  ?</h5>

              </div>
              
              <div class="modal-footer">

                <form method="post" asp-controller="Dev" asp-action="DelDev"  class="form_line">
                        <input type="hidden"  name="id_dev" value="@ViewBag.DesDev[0][0]"/>
                        
                        <button type="submit"  class="btn btn-outline-danger">Подтвердить</button>
                </form>    
              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
              </div>
            </div>
          </div>
        </div>
      }


    
    <button type="button" class="btn btn-sm-2 btn-dark" data-toggle="modal" data-target="#@id_this" >@ViewBag.Translate_words[71]</button>
  </ul>
  </div>

</div>