@await Component.InvokeAsync("Menu" , new {})
<h1>UpdateInfo</h1>


<form method="post" enctype="multipart/form-data" asp-controller="Dev" asp-action="UpdateInfo"  class="form_line">
    <div class="card" style="width: 28rem;">

        <img src="~/Pictures/@ViewBag.Dev.url_on_logo" class="card-img-top" alt="...">
        <div class="card-body">
            
            

            <div class="input-group mb-2">
                <label for="u_file">Выберите фото</label>
                <input type="File"  name="u_file" >
            </div>
            

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Имя Компании</div>
                </div>
                <input type="text" class="form-control" name="name" placeholder="Имя " value="@ViewBag.Dev.name">
            </div>

            <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control" name="description" rows="3">@ViewBag.Dev.description</textarea>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Адрес </div>
                </div>
                <input type="text" class="form-control" name="address" placeholder="Адрес " value="@ViewBag.Dev.address">
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@@mail </div>
                </div>
                <input type="text" class="form-control" name="mail" placeholder="E-mail " value="@ViewBag.Dev.mail">
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Телефон </div>
                </div>
                <input type="text" class="form-control" name="phone" placeholder="Телефон " value="@ViewBag.Dev.phone">
            </div>



            
            <input type="submit"  class="btn btn-sm-2 btn-dark" value="Сохранить">
        </div>
    </div>
</form>